{% extends "library/base.html" %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>欢迎登录！</p>
        {% endif %}
    {% endif %}

    <form class="form-horizontal" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="form-group form-group-lg">
            <div class="col-sm-3 control-label">
                <td>{{ form.username.label_tag }}</td>
            </div>
            <div class="col-sm-10">
                {#                <input id="uemail" type="text" name="uemail" value="邮箱">#}
                <td>{{ form.username }}</td>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <div class="col-sm-3 control-label">
                <td>{{ form.password.label_tag }}</td>
            </div>
            <div class="col-sm-10">
                <td>{{ form.password }}</td>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1">
                <button type="submit" class="btn btn-primary">登录</button>
            </div>
            <div class="col-lg-1">
                <button type="submit" class="btn btn-primary"><a href="{% url 'register' %}">注册</a></button>
            </div>
            <div class="col-lg-2">
                {#            <input type="hidden" name="next" value="{{ next }}"/>#}
                <button class="btn btn-light"><a href="{% url 'password_reset' %}">忘记密码</a></button>
            </div>
            <div class="col-lg-10">
            </div>
        </div>
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}